body {text-align: center;}

.x {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20%;
}

.x>p {
    width: 45%;
}

.x>p:last-child {
    float: left;
}