body {text-align: center;}


/** Pääsivu **/
.paasivu .x {
    display: flex;
    flex-direction: row;
    background-color: azure;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20%;
}

.paasivu .x>p {
    width: 45%;
}

.paasivu .x>p:last-child {
    float: left;
}